body {
    background-color: rgb(86, 142, 86);
    padding-left: 10%;
}
header{
    margin-top: 10px;
}
header, footer{
    background: rgb(156, 129, 152);
    border: solid 2px black;
    border-radius: 10px;
    height: 100px;
    width: 90%;
    margin-bottom: 60px;
}
.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px ;   
}
button{
    border: solid 2px black;
    border-radius: 5px; 
    cursor: pointer;  
    
}
img{
    width: 90%;
    margin-top: 50PX;
    min-height: 200vh;
    padding-bottom: 50px;   
}
footer{
    padding: 45px 0 0 0;
}
button:hover{
    background: rgb(127, 140, 127);;
}