body {
    background-color: rgb(127, 140, 127);
}

header{
    
    border: solid 5px black;
    width: 90%;
    height: 150px;   
}
h1{
    
}
.container-navbar{
    display: flex;
    
}

header, img, footer{
    margin-left: 60PX;
}

button{
    border: solid 5px green;

       
}

img{
    width: 90%;
    margin-top: 50PX;
    padding: 0;
}
footer{
    border: solid 5px black;
    width: 90%;
    height: 150px;
    margin-top: 60px;
}

li{
    list-style: none;
}